<!-- @format -->

<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title> IA adivinhação </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<main @Exit *ngIf="start == false">
		<p class="ion-text-center">Escolha entre os animais abaixo</p>

		<ion-list
			class="ion-justify-content-center"
			interface="popover"
			placeholder="Escolha entre os animais abaixo"
		>
			<ion-item class="ion-margin" *ngFor="let animal of animals; index as i">
				<ion-grid>
					<ion-col>
						<a target="_blank" [href]="animal.link">
							<img alt="Opção {{ i }}; Foto de um(a) {{ animal.name }}" src="{{ animal.photo }}" />
							<p class="ion-text-center">{{ animal.name }}</p>
						</a>
					</ion-col>
				</ion-grid>
			</ion-item>
		</ion-list>

		<p class="ion-margin ion-text-justify">
			Agora responda as perguntas de <span class="bold">Sim</span> ou <span class="bold">Não</span>,
			que adivinharemos o seu animal escolhido
		</p>
		<ion-button (click)="start=true;" class="ion-margin ion-justify-conten-center" expand="block"
			>Começar</ion-button
		>
	</main>

	<div @Ans *ngIf="start == true && p_atual && p_atual[0] != 'end'">
		<h4 [@TextChange]="p_atual[0]" class="ion-margin ion-text-center">
			{{ j }} - {{ p_atual? p_atual[0]: "" }}
		</h4>
		<ion-grid>
			<ion-row class="ion-justify-content-center ion-margin">
				<ion-button (click)="StoreANS(true); j=j+1;Unmount(true)" color="success">Sim</ion-button>
				<div class="ion-margin"></div>
				<ion-button (click)="StoreANS(false); j=j+1;Unmount(false)" color="danger">Não</ion-button>
			</ion-row>
		</ion-grid>
	</div>

	<div *ngIf="adivinhado != undefined">
		<h3 @Ans class="ion-text-center">{{ adivinhado }}</h3>
	</div>

	<div *ngIf="debug == true">{{ perguntas }} -- {{ p_atual }}</div>
</ion-content>
